#first{position:fixed;left:200px;top:50px;max-height: 500px;}

#second{position:fixed;top:50px;left:200px;max-height: 500px;}

#third{position:fixed;top:11px;left:200px;max-height: 535px;}

#woot{position:fixed;left:200px;top:60px;}

#base1{margin-top: 1px;height: 800px;background: lightgreen;}

#base2{margin-top: 1px;height: 800px;background: whitesmoke;}

#base3{margin-top: 1px;height: 800px;background: grey;}

#base4{margin-top: 1px;height: 800px;background: #920392;}

#base5{margin-top: 1px;height: 800px;background: yellowgreen;}

#base6{margin-top: 1px;height: 800px;background: greenyellow;}

.q1{position:fixed;height: 95px;left: 10%;top: 93px;}

.q2{position:fixed;height: 75px;left: 35%;top: 43px;}

.q3{position:fixed;height: 55px;left: 35%;top: 193px;}

.direction{position:fixed;height: 115px;left: 10%;top: 93px;
    align-self: flex-end;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    transform-origin: bottom;
}   

.type2{position:fixed;height: 95px;left: 28%;top: 93px;transform: rotate(30deg);
    align-self: flex-end;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    transform-origin: bottom;

}

/* Infinite Simple Bouncing */
/* Setup For This 
align-self: flex-end;
animation-duration: 2s;
animation-iteration-count: infinite;
transform-origin: bottom; */

.bounce-1 {
    animation-name: bounce-1;
    animation-timing-function: ease-in-out;
}
@keyframes bounce-1 {
    0%   { transform: translateY(0); }
    50%  { transform: translateY(-25px);}
    100% { transform: translateY(0); }
}

/* End Infinite Simple Bouncing */

/* Bouncing 1x in Stop */
/* Setting for this animation
    
    align-self: flex-end;
    animation-duration: 2s;
    animation-iteration-count: 1;
    transform-origin: bottom;  */

.bounce {
    animation-name: bounce;
    animation-timing-function: ease-in-out;
}
@keyframes bounce {
    0% {
        transform:translateY(-100%);
        opacity: 0;
      }
    5% {
          transform:translateY(-100%);
          opacity: 0;
      }
    15% {
        transform:translateY(0);
        padding-bottom: 5px;
      }
    30% {
        transform:translateY(-50%);
    }
    40% {
        transform:translateY(0%);
        padding-bottom: 6px;
    }
    50% {
        transform:translateY(-30%);
    }
    70% {
        transform:translateY(0%);
        padding-bottom: 7px;
    }
    80% {
        transform:translateY(-15%);
    }
    90% {
        transform:translateY(0%);
        padding-bottom: 8px;
    }
    95% {
        transform:translateY(-7%);
    }
    97% {
        transform:translateY(0%);
        padding-bottom: 9px;
    }
    99% {
        transform:translateY(-3%);
    }
    100% {
        transform:translateY(0);
        padding-bottom: 9px;
        opacity: 1;
    }
    
}
/* End Bouncing 1x in Stop */

.mathbook{position:fixed;height: 120px;left: 10%;top: 53px;
    align-self: flex-end;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    transform-origin: bottom;
} 

.stethoscope{position:fixed;height: 100px;left: 27%;top: 53px;
    align-self: flex-end;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    transform-origin: bottom;
}

.telescope{position:fixed;height: 80px;left: 8%;top: 203px;
    align-self: flex-end;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    transform-origin: bottom;
} 

.robotics{position:fixed;height: 120px;left: 30%;top: 230px;
    align-self: flex-end;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    transform-origin: bottom;
}

.checklist{position:fixed;height: 100px;left: 28%;top: 30px;
    align-self: flex-end;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    transform-origin: bottom;
}

.flightbd{position:fixed;height: 100px;left: 7%;top: 4px;
    align-self: flex-end;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    transform-origin: bottom;
}

.flight{position:fixed;height: 50px;left: 27%;top: 20px;
    /* align-self: flex-end;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    transform-origin: bottom; */
}

.luggage{position:fixed;height: 300px;left: 30%;top: 240px;
    /* align-self: flex-end;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    transform-origin: bottom; */
}